.icon-android{
	color: green;
}
.icon-share{
	color: #00BCFF;
}
.icon-trash{
	color: #A1A1A1;
}
.icon-background{
	color: black;
}

@media (max-width:699px){
	.icon{
	font-size:24px !important;
	}
}

@media (min-width:700px){
	.icon{
	font-size:30px !important;
	}
}
