<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Stylesheets css-->
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/icons.css">
    <link rel="stylesheet" type="text/css" href="./css/modal.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--JavaScript scripts-->
    <script src="js/non-canvas.js"></script>
    <script src="./js/canvas.js"></script>
    <script src="./js/modal.js"></script>
    <meta charset="UTF-8">
    <title>APix</title>
</head>
<body onload="main();initModal()" class="body">

<!--Loader while we fetch the data from the server-->
<div class="loader" id="loader"></div>

<!-- Modal Intial Setting issue -->
<div id="modal_initial_settings" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <i class="material-icons">error_outline</i>
        </div>
        <div class="modal-body" id="modal_initial_settings_body">
            <p>Pick a width, a height and a background image for your canvas!</p><br>
            <input id="custom_width" type="number" name="width" value="900">    px<br><br>
            <input id="custom_height" type="number" name="height" value="450">  px
            <div onclick="clickUploadImage()" class="upload_image_background">
                <span>Upload an image background!</span>
                <i class="material-icons">image</i>
            </div>
        </div>
        <div class="modal-footer">
            <br>
            <button id="submit_dimensions">Begin!</button>
        </div>
    </div>
</div>

<div class="after-load" id="after-load">
    <!--Navigation-->
    <div id="sidenav" class="sidenav">
        <a href="javascript:void(0)" class="closeButton" onclick="closeNavigation()">&times;</a>
        <a href="#" class="sidenavLink" onclick="exportCanvasPNG()"><i class="material-icons icon">file_download</i> PNG</a>
        <a href="#" class="sidenavLink" onclick="exportCanvasJPEG()"><i class="material-icons icon">file_download</i> JPEG</a>
        <a href="#" class="sidenavLink" id="shareable_link"><i class="material-icons icon icon-share">group_add</i> Doodle with friends!</a>
        <a href="#" class="sidenavLink" id="delete_canvas"><i class="material-icons icon icon-trash">delete</i> Clear</a>
    </div>

    <!--Header-->
    <header class="header">
        <div class="header-home">
            <div>
                <button id="navButton" onclick="openNavigation()">&#9776;</button>
                APix: Doodling around with friends!
            </div>
        </div>
    </header>

    <!-- Modal Connection issue -->
    <div id="modal_connection" class="modal">
        <div class="modal-content">
            <span class="modal_hide" id="modal_connection_hide">&times;</span>
            <div class="modal-header">
                <i class="material-icons">error_outline</i>
            </div>
            <div class="modal-body">
                Server could not be contacted! You are now in offline mode!
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

    <!-- Modal Background issue -->
    <div id="modal_background" class="modal">
        <div class="modal-content">
            <span class="modal_hide" id="modal_background_hide">&times;</span>
            <div class="modal-header">
                <i class="material-icons">error_outline</i>
            </div>
            <div class="modal-body">
                You can only upload an image background before drawing!
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

    <!-- Modal Shareable Link -->
    <div id="modal_shareable_link" class="modal">
        <div class="modal-content">
            <span class="modal_hide" id="modal_shareable_link_hide">&times;</span>
            <div class="modal-header">
                <i class="material-icons">done</i>
            </div>
            <div class="modal-body">
                Share this link with a friend so you can draw together!
            </div>
            <div class="modal-footer">
                <p id="generated_shareable_link"></p>
            </div>
        </div>
    </div>

    <!--Canvas container-->
    <div class="container canvas-container">
        <!--Canvases-->
        <canvas class="canvas hidden_canvas" width="900" height="450" id="background_canvas"></canvas>
        <canvas class="canvas hidden_canvas" width="900" height="450" id="drawable_canvas"></canvas>
        <canvas class="canvas-visor non-drawable-area" id="visor_canvas"></canvas>

        <!--Canvas options-->
        <aside class="canvas-options">
            <!--Input for HTML 5-->
            <input id="color_picker" type="color" value="#337564" class="hidden_function"/>
            <input id="upload_image" type="file" class="hidden_function" />

            <div class="popup" onmouseover="showPopupText(this)" onmouseout="hidePopupText(this)">
                <i class="material-icons icon">android</i>
                <span class="popuptext">Connect an android device!</span>
            </div>

            <div class="popup" onmouseover="showPopupText(this)" onmouseout="hidePopupText(this)">
                <i class="material-icons icon" id="eraser">content_cut</i>
                <span class="popuptext">Eraser!</span>
            </div>

            <div class="popup" onmouseover="showPopupText(this)" onmouseout="hidePopupText(this)">
                <i class="material-icons icon" onclick="clickColorPicker()" id="colorButton"> palette</i>
                <span class="popuptext">Change color!</span>
            </div>

            <div class="popup" onclick="toggleInputRange(this)" id="popup">
                <i class="material-icons icon">line_weight </i>
                <div class="popuptext" id="inputRangeContainer">
                    <span class="text-input-range">Change pencil thickness!</span>
                    <input id="line_weight" type="range" min="0.5" value="2" max="15" step="0.5"/>
                </div>

            </div>

            <div class="popup" onmouseover="showPopupText(this)" onmouseout="hidePopupText(this)">
                <i class="material-icons icon" id="switch">zoom_in</i>
                <span class="popuptext">Enable zoom and scroll!</span>
            </div>

        </aside>
    </div>
</div>
</body>
</html>