#visor {
	width: 600px;
	height: 600px;
	border: 1px solid black;
}

#background_canvas {
	background: azure;
}

.fixed_canvas {
	width: 600px;
	height: 600px;
	border: 1px solid black;
	display: none;
}