.icon {
	color :white;
	font-size: 1em;
	margin: 5px 0 5px 0;
    cursor: pointer;
}
.icon:hover{
	color: rgba(33,150,243,1);
}

.icon-flipped {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.circle-button {
    border-radius: 50%;
    border : 2px solid white;
    width: 20px;
    height: 20px;
}
.hidden_function {
    display: none;
}


