/*General layout css*/
.container {
  display: flex;
  justify-content: center;
    align-items: center;
  margin: 30px 0 30px 0;
}
.body{
	background-image: url("../resources/memphis-colorful.png");
	opacity: 1;
	margin: 0;
}

/*Loader layout css*/
.loader {
    border-radius: 50%;
    border: 16px solid lightblue;
    border-right-color: pink;
    border-left-color: pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
     position:fixed;
    top: 40%;
    left: 40%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.after-load{
    display:none;
}

/*Sidenavigation layout css*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(33,150,243,1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 1;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgba(233,30,99, 0.7);
}

.sidenav a i {
    transition: 0.3s;
}

.sidenav a:hover i {
    color :rgba(233,30,99, 0.7);
}


/*Header layout css*/
.header{
    background-color: rgba(33,150,243,1);
    display: flex;
    font-family: sans-serif;
    height: 50px;
}

.header-home{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}
.header-home > div{
	margin:0;
	padding-left: 20px;
	color: white;
}
.header-functions{
	flex: 1;
	text-align: right;
	font-family: sans-serif;

}
.header-functions > li {
	display: inline-block;
	padding: 0 15px 0 15px;
}
.header-functions > li > a{
	color: white;
	text-decoration: none;

}
#toggle{
	margin-left: 10px;
	margin-top: 10px;
}

#navButton {
    background : none;
    border : none;
    color: white;
    font-size : 1.5em;
}
#navButton:hover {
    cursor: pointer;
}


/*Canvases*/
.canvas{
    height: 450px;
    width: 900px;
    border: 1px solid black;
    background: white;
}
.hidden_canvas {
    display: none;
    background: white;
}

.canvas-visor{
    height: 75vh;
    width: 80vw;
    border: 1px solid black;
    background: white;
}
.non-drawable-area{
    background:
        repeating-linear-gradient(
            -55deg,
            #ddd,
            #ddd 10px,
            #fff 10px,
            #fff 20px );
}

/*Action bar options layout css*/
.canvas-options {
    display: flex;
    flex-direction: column;
    border : 3px solid rgba(33,150,243,1);
    background-color: rgba(233,30,99, 1);
    opacity: 0.3;
    transition: opacity .5s;
    margin: 0 0 0 5px;
}
.canvas-options:hover{
    opacity: 1;
}


/*Transition layout css*/
.transition a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-family: monospace;
    transition: border .3s;
}

.transition a.active {
    background-color: rgba(233,30,99,0.5);
	border : 3px solid rgba(33,150,243,1);
    color: white;
}

.transition a:hover:not(.active) {
	border : 3px solid rgba(33,150,243,1);}
