.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../resources/memphis-colorful.png");
    color: black;
    padding: 70px 70px;
    position: relative;
    margin: auto;
    border: 1px solid #888;
    width: 30vw;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal_hide {
    order: -1;
    position: absolute;
    top: 30px;
    right: 50px;
    padding: 0;
    font-size: 28px;
    font-weight: bold;
}

.modal_hide:hover,
.modal_hide:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    font-size: 25px;
}
.modal-body {
}
.modal-footer {
}